* {
    padding: 0;
    margin: 0;
}



.conteiner {
    display: grid;
    grid-template-areas: 'superior superior'
                         'mapa centro'
                         'final final';
    gap: 10px;
    grid-template-columns: 50% auto;
    grid-template-rows: 20% 70% 10%;                     
}

.superior {
    grid-area: superior;
    border: 2px solid black;
}

.mapa-container {
    grid-area: mapa;
    position: relative;
}

.centro {
    grid-area: centro;
    border: 2px solid red;
}

.final {
    grid-area: final;
    border: 2px solid blue;
}

picture .mapaI {
    z-index: 2;
    position: absolute;
    left: 350px;
    top: 0;
}

picture .mapaII {
    z-index: 2;
    position: absolute;
    left: 700px;
    top: -200px;
}

picture .mapaIII {
    z-index: 2;
    position: absolute;
    left: 232px;
    top: -62px;
}

picture .mapaIV {
    z-index: 2;
    position: absolute;
    left: 94px;
    top: -3px;
}

picture .mapaV {
    z-index: 2;
    position: absolute;
    left: 110px;
    top: 311px;

    color: cornflowerblue;
}